@import 'tailwindcss';

body {
  @apply m-0 bg-gradient-to-br from-green-800 via-[#0b1f14] to-green-800;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  @apply bg-gradient-to-br from-green-800 via-[#0b1f14] to-green-800;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 251, 59, 0.2) rgb(27, 87, 27);
}
